@charset "UTF-8";
/*-----  base color html5 --------*/
/*-----  base color html5 --------*/
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700');
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);
/*
.col-2:nth-child(1) {
  background: #cacaca; }

.col-2:nth-child(2) {
  background: #bdbdbd; }

.col-2:nth-child(3) {
  background: #b1b1b1; }

.col-2:nth-child(4) {
  background: #a4a4a4; }

.col-2:nth-child(5) {
  background: #979797; }

.col-2:nth-child(6) {
  background: #8a8a8a; }
*/
/*///////////////////// 8aDG | D.G. Matias Ochoa Payva ///////////////////////*/
/*-------------------------| matias8adg@gmail.com |---------------------------*/
/*                                                                            */
/*////////////////////////////////////////////////////////////////////////////*/
/*--------------------------------| FUENTES |---------------------------------*/
/*TITULOS*/
/*TEXTOS EN GRAL*/
/*---------------------------------| RESET |----------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: sans-serif;
  /*=========== Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* HTML5 display-role reset for older browsers */
/*article, aside, details, figcaption, figure, */
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*---------------| BORRA RECTANGULOS A LOS LINKS MOBILE |---------------------*/
/* descomentar luego de compilar

 a, a:active, a:focus {
outline: none!important;
-moz-outline-style: none!important;
text-decoration: none;
font-family: 'Open Sans', sans-serif;
}

  * {
-webkit-tap-highlight-color: rgba(0, 0, 0, 0); and
-webkit-focus-ring-color: rgba(0, 0, 0, 0);
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
*/
/*---------------------------| Acordeon 8aDG |--------------------------------*/
* {
  font-family: sans-serif;
  margin: 0; }

dl {
  margin: 0px auto;
  width: 100%; }

dt, dd {
  padding: 20px; }

dt {
  background: #333333;
  color: #fff;
  border-bottom: 1px solid #141414;
  border-top: 1px solid #4E4E4E;
  cursor: pointer; }

dd {
  background: #F5F5F5;
  display: none;
  line-height: 1.6em;
  text-align: center; }

dt.activo, dt:hover {
  background: #424242; }

dd:first-child {
  display: block; }

dt:before {
  content: "Γû╕";
  margin-right: 10px; }

dt.activo:before {
  content: "Γû╛"; }

/*-------------------------GridContainer 8aDG---------------------------------*/
html, body {
  height: 100%; 
background:#29ABE2;
}



.flex-container {
  display: flex;
  display: -webkit-flex;
  /* Para navegadores webkit, como Safari */ }

.grid-container {
   background:#fff;
  width: 100%;
  height: 100%;
  max-width: 100%;
  display: table;
  clear: both;
  margin: 0 auto;
  padding: 0px; }

/*-- our cleafix hack -- */
.row:before,
.row:after {
  content: "";
  display: table;
  clear: both; }

.rowfixed {
  content: "";
  display: table;
  clear: both;
  padding: 0 12.5%; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* close commented backslash hack */
[class*='col-'] {
  float: left;
  min-height: 1px;
  width: 16.66%;
  /*-- our gutter -- */
  /*background-color: $clr_bs_top;*/ }

/*----------------------sistema de columnas 8aDG------------------------------*/
.col-1 {
  width: 16.66667%; }

.col-2 {
  width: 33.33333%; }

.col-3 {
  width: 50%; }

.col-4 {
  width: 66.66667%; }

.col-5 {
  width: 83.33333%; }

.col-6 {
  width: 100%; }

.col-81 {
  width: 12.5%; }

.col-82 {
  width: 25%; }

.col-83 {
  width: 37.5%; }

.col-84 {
  width: 50%; }

.col-85 {
  width: 62.5%; }

.col-86 {
  width: 75%; }

.col-88 {
  width: 100%; }

  .span-1 {
  padding: 0 16.66667%; }

.span-2 {
  padding-left: 33.33333%; }

.span-3 {
  padding-left: 50%; }

.span-4 {
  padding-left: 66.66667%; }

.span-5 {
  padding-left: 83.33333%; }

.span-6 {
  padding-left: 100%; }

.span-81 {
  padding: 0 12.5%; }

.span-82 {
  padding-left: 25%; }

.span-83 {
  padding-left: 37.5%; }

.span-84 {
  padding-left: 50%; }

.span-85 {
  padding-left: 62.5%; }

.span-86 {
  padding-left: 75%; }

.span-88 {
  padding-left: 100%; }

.outline, .outline * {
  outline: 1px solid #F6A1A1; }

/*---------------------------| MENOS DE 800PX |-------------------------------*/
@media all and (max-width: 800px) {
  .col-0 {
    width: 33.33%; }

  .col-1 {
    width: 33.33%; }

  .col-2 {
    width: 50%; }

  .col-3 {
    width: 50%; }

  .col-4 {
    width: 100%; }

  .col-5 {
    width: 100%; }

  .col-6 {
    width: 100%; }

  ul li {
    width: 100%; }

  .row .col-2:last-of-type {
    width: 100%; }

  .row .col-5 ~ .col-1 {
    width: 100%; }

  .ch {
    display: block !important; }

  /*-----------------| contenido personalizado medium 8aDG |--------------------*/
  .rowfixed {
    content: "";
    display: table;
    clear: both;
    padding: 0 6.25%; } }
/*----------------------------| MENOS DE 650PX |------------------------------*/
@media all and (max-width: 650px) {
  .col-0 {
    width: 50%; }

  .col-1 {
    width: 100%; }

  .col-2 {
    width: 100%; }

  .col-3 {
    width: 100%; }

  .col-4 {
    width: 100%; }

  .col-5 {
    width: 100%; }

  .col-6 {
    width: 100%; }

  .col-ch {
    width: 100%; }

  ul li {
    width: 100% !important; }

  /*--------------| MUESTRA SOLO EN RESOLUCIIONES GRANDES 8aDG |----------------*/
  .gd {
    display: none; }

  .ch {
    display: block !important; }


.intro {
  background:#fff url(../img/fondo1.jpg)center center no-repeat!important;
  background-size: 70%!important;
  min-height: 380px;
  display: block; 
padding: 100px 0;
}

.span-4 {
  padding-left: 0%; }

    .titulo2 {
    position: relative!important;
    top: 300px!important;
    text-align: center!important;
    font: normal normal 300 4em/150% 'Lato', sans-serif;
    color: #FFF;

  }

  #nubes {

  display: none!important; 

}
  /*-----------------| contenido personalizado mobile 8aDG |--------------------*/ }
/*-------------------| fin sistema de columnas 8aDG |-------------------------*/


/*--------------------------| slider multi noticias|----------------------------*/
 .swiper-container {
        width: 100%;
        height: 380px;
    }
    
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

/*--------------------------| slider multi noticias|----------------------------*/
main {
  width: 100%;
  height: 100%;
  max-width: 100%;
  background:#29abe2;
  display: block;
  clear: both;
  margin: 0 auto;
  padding: 0px;
  text-align: center !important;
max-width: 1360px;

   }

header {
  background: #0000001a;
  min-width: 100%;
  min-height: 100px !important; }

nav {
  background: #fbfbfb1a;
  min-width: 100%;
  min-height: 50px !important;
color: aqua;
   }

section {
  /*: #CACACA;*/
  min-width: 100%;
  min-height: 380px !important;
  text-align: center !important; }

section:nth-child(odd) {
  /*background: #9a9a9a;*/ }

footer {
  background: #000;
  min-width: 100%;
  min-height: 360px !important;
color: #fff;
   }

address {
  background: #868686;
  min-width: 100%;
  min-height: 400px !important; }

 .sldr{
        width: 100%;
        height: 380px;
        display: block;
    }

.bottom {
  background: #043b7b;
  min-height: 50px !important; }

.der {
  float: right; }

.logo {
  padding: 25px 0px; }

.logo_uni {
  padding: 70px 0px;
  text-align: right; }

.menu a {
  text-decoration: none;
  display: inline-block;
  padding: 20px 0;
  text-align: center;
  width: 100%;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out; }

.menu a:hover {
  background: #fff; }

.vivo a {
  color: #8d141c; }

.contenidos a {
  color: #0f335f; }

.grilla a {
  color: #0188c8; }

.intro {
  background:#fff url(../img/fondo1.jpg)480px 170px no-repeat;
  min-height: 380px;
  display: block; 
padding: 100px 0;
}

.servicios {
  background:#fafafa;
  min-height: 380px;
  display: block; 
padding: 100px 0;
}


.cont_video {
  min-height: 380px; }

/*# sourceMappingURL=base.css.map */
.contenido {
  text-align: left;
background: rgba(0,0,0,0.3);
height: 100%;
background-blend-mode: multiply;
width: 100%;
   }

/* line 446, ../sass/base.scss */
.contenido p {
font: normal 300 2vw 'Open Sans', sans-serif;
  color: #fff; 
text-shadow: 2px 2px 20px rgba(0,0,0,0.8);}

/* line 449, ../sass/base.scss */
.titulo_rot {
  color: aqua;
  font: normal 300 5em 'Open Sans', sans-serif;
  margin-top: 100px;
   }

   div#steam { 
  background-color: #29abe2;
  background-image: url('../img/nubes.png'); 
   background-repeat: repeat-y; 
   background-position: center center; 
   -webkit-animation: slide 5s linear infinite;
   overflow: hidden; }
  
  @-webkit-keyframes slide {
  from { background-position: left -1790px; }
  to { background-position: left 0; }
  }
  
  @-moz-keyframes slide {
  from { background-position: left -1790px; }
  to { background-position: left 0; }
  }
  
  #cohete { 
    position: relative;
   background: url('../img/cohete.png') center center no-repeat ; 
   height: 260px; 
   padding: 20px 50%;
   width: 120px; 
}

.animated { 
    animation-duration: 0.5s; 
    animation-fill-mode: both; 
    animation-timing-function: linear; 
    animation-iteration-count:infinite; 
} 

@keyframes shake { 
    0%, 100% {transform: translateY(0);} 
    10%, 30%, 50%, 70%, 90% {transform: translateY(-5px);} 
    20%, 40%, 60%, 80% {transform: translateY(5px);} 
} 
.shake { 
    animation-name: shake; 
}

#nubes_svg{
  fill: #fff;
}

#nubes {
  background: url(../img/nubes.svg) center bottom no-repeat;
  background-size: 110%;
  min-height: 230px;
  display: block; 
position: absolute;
top: 400px;
width: 100%;
max-width: 1360px;
}

.titulos{
   font: normal normal 100 4em/150% 'Lato', sans-serif;
   color: #194C99;
}

.volanta{
  font: normal normal 400 1.5em/150% 'Lato', sans-serif;
  color: #313131;
}
.clear {
   clear: both!important;
}

#section3 {
  background: url(../img/paralax1.png) 50% 0 no-repeat fixed;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden; 
}




  .titulo2 {
    position: relative;
    top: 100px;
    text-align: right;
    font: normal normal 300 4em/150% 'Lato', sans-serif;
    color: #FFF;

  }

  .titulo3 {

    font: normal normal 100 4em/150% 'Lato', sans-serif;
    color: #000;

  }

  .clientes {

  	color: #fff;
  	background: #bbbbbb;
  	padding: 50px 0;
  }